h1 {
    text-align: center;
    
    
}

.col-sm-4 {
    background-color: cornflowerblue;


}
.card {
    background-color: green;

    
}

/* #forecastOne {
    background-color: green;


} */
#forecastFive{
    background-color: yellow;
    height: 200px;
}

.row {
    height: 200px;


}
